
body{
    background-color: rgb(157, 172, 232);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 200px;
    padding: 20px;
 
    
}

.calculator {
    display: grid;
    grid-column: 2fr, 2fr, 2fr, 2fr;
    justify-content: center;
    align-content: center;
    min-width: 300px;
    max-width: 300px;
    border: 10px red solid;

}

main {
    min-width: 0;
}

#display {
    grid-column-start: span 4;
    min-width: 0;
    font-size: 50px;
    background-color: rgb(131, 185, 180);
    column-span: all;
    grid-row-start: span 2;
    
}



.buttons{
    background-color: rgb(147, 235, 207);
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom:rgb(235, 235, 235) solid 1px ;
    border-right:rgb(235, 235, 235) solid 1px ;
    height: 1fr;
    width: 1fr;
}

#equals{
    grid-row-start: span 2;
}

#clear{
    grid-column-start: span 3;
}






