* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inputs {
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-columns: 100%;
    

}

input {
    background-color: black;
    color: white;
    text-align: right;
    border-bottom: none;
}

#display {
    font-size: 60px;
}

main {

    align-content: center;
    justify-content: center;
}

body {
    display: flex;
    background-color: bisque;
    height: 100vh;
}

.operator {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

.calculator{
    flex-direction: column;
    height: 70%;
    width: 100%;
    display: inline-block;
    align-items: stretch;
    justify-content: stretch;
    margin: 50%;
    padding: 20%;
}


.row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.equalsbutton {
    display: grid;
    grid-template-columns: 100%;
}

button {
    height: 70px;
    font-size: 45px;
}

#equals{
    background-color: rgb(179, 139, 65);
    color: white;
    border-bottom-style: groove;
}

