* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inputs {
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-columns: 100%;
}

input {
    background-color: black;
    color: white;
    text-align: right;
    border-bottom: none;
}

#display {
    font-size: 60px;
}

main {
    align-content: center;
    justify-content: center;
    text-align: center;
}

body {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: lightgoldenrodyellow;
    height: 100vh;
    max-width: 75%;
    padding-left: 10%;
}

.operator {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-top: 2%;

}

.calculator{
    flex-direction: column;
    height: 70%;
    width: 100%;
    display: inline-block;
    align-items: stretch;
    justify-content: stretch;
    padding: 20%;
}


.row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.equalsbutton {
    display: grid;
    grid-template-columns: 100%;
}

button {
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
}

#equals{
    background-color: rgb(179, 139, 65);
    color: white;
    border-bottom-style: groove;
}

.operator button  {
    background-color: ivory;
}